/******************************************************************
Site Name: 
Author: 

Stylesheet: Base Stylesheet

******************************************************************/

html {

}

body {

}

#main {
	width: 100%;
  height: 100%;
  text-align: center;
}

iframe,
embed,
object {
  max-width: 100%;
}
