$black:  #333;
$grey:   #999;
$white:  #fff;


// used in normalize typography
$background: $white;
$text-color: $black;
$link-color: skyblue;
$link-hover: darken($link-color, 9%);
$base-border-color: #ddd;